
%a(href='javascript:void(0)' onclick='aac.toggle_answerable()')
  - case @answerable.type
  - when 'Ballot'
  
    - if @answerable.new_record?
      .table.vote.new    
        .cell
          Vote NOW!
    - else
      - vote_class, vote =  @answerable.vote > 0 ? ['yes', @askable.yes] : ['no', @askable.no]
      .table.vote.update(class='#{ vote_class }')
        .cell
          You voted for
          = truncate(vote, :separator => ' ')
          
  - when 'Answer'
    - if @answerable.new_record?
      .table.answer.new
        .cell
          Answer NOW!
    - else
      .table.answer.update
        .cell
          Edit Answer

      