- @askable ||= @commentable

#askable_comments.comments.blinder
  .detail.wrapper
    .form
      - comment = @askable.comment_threads.new
      = render 'comments/form', :comment => comment
  
    - @comments = @askable.root_comments.order('created_at DESC').page(1)
    = render 'askables/comments'


