- @askable ||= @commentable

#askable_comments.comments
  .detail
    .comments_holder
      = render :partial => 'comments/comment', :collection => @askable.root_comments.includes(:user, :children), :as => :comment

    .form
      - comment = @askable.comment_threads.new
      = render 'comments/form', :comment => comment

    .reply
      = render 'comments/form', :comment => comment, :reply => true