
.answerable(class='#{ item.keys[0] > 0 ? "yes" : "no" }')
  .answerer
    - item.values[0].each do |v|
      %span= user_small_avatar_link(v.user)
    %span.info>= time_ago_in_words(item.values[0].last.updated_at)
    / voted affirmatively
