- answer = answerable.vote > 0 ? @askable.yes : @askable.no

%h2.ballot
  Your vote is
  %em= truncate(answer, :separator => ' ')
  %span#ballot_action ( #{ link_to_function 'edit', 'aac.show_ballot()' } )
      
#ballot= render 'askables/ballot_form', :answerable => answerable, :url => answerable_path(answerable)