
- if current_user.blank? || !current_user.following?(@askable)
  = link_to content_tag('div', content_tag('div', content_tag('span', t('askable.show.follow')), class: 'cell'), class: 'table follow'), follow_country_askable_path(@country, @askable), method: :post, remote: true, id: 'follower'

- else
  .table.follow
    .cell
      %span.tick &#10003;
      = t 'askable.show.following'
      = link_to "x", unfollow_country_askable_path(@country, @askable), method: :post, remote: true, id: 'unfollower'