- content_for :actioner do
  %h3 Signup

= form_for @user do |f|
  = f.error_messages
  %p
    =f.label "Your display name:"
    =f.text_field :name
  %p
    =f.label "Email:"
    =f.text_field :email
  %p
    =f.label "Password:"
    =f.password_field :password
  %p
    =f.label "Password Confirmation:"
    =f.password_field :password_confirmation
  %p
    =f.submit "Submit"

