%h1 About Us

%h2 Service
%p The way we know about other countries is old. We came across stories in Int' sections on newspaper. From time to time, news channels roll out appalling scenes or absurd stories about some remote country. We could not help but wondered is it really what is going on over there and what the people there really think? 

%p Askacountry.com is the place where people can ask question to people from other countries and get the answer. The prejudice from race difference and country borders is so obsolete in the time of Internet. Our vision is to help people in the world understand each other.


%h2 Team
%p
  We are a small team of developers and designers from an #{link_to 'authoritarian country', 'https://en.wikipedia.org/wiki/Authoritarianism'}.

%h2 Anonymity
%p The team chooses to stay anonymous. We believe good questions are of most importance to Askacountry.com and good questions for our own country always means embarrassment to the government. It censors the Internet and banned a lot of websites, inc. Goolge, Twitter and Facbook, and they persecute those who made them look bad, which is personal experience for some of us. Instead of self-censorship and living in fear, we chose to hide our identities and be free.