
%h1 Ask a country anything

%h2 People are asking #{@country.name}:
.sub not from #{@country.name}? see #{link_to "your home country", "#"}

#ask
  = render "polls/poll_list", :polls => @country.top_polls(5), :country => @country

%h2 Your answers wanted! Let's Quiz

%h1 and . . .

%h1 Find the answer of the people
  
%h2 List of Questions

