- if item.keys[0] > 0
  .voting.yes
    .voter
      - item.values[0].each do |v|
        = user_small_avatar_link(v.voter)
      voted affirmatively
- else
  .voting.no
    .voter
      nay vote#{ 's' if item.values[0].size > 1 } by
      - item.values[0].each do |v|
        = user_small_avatar_link(v.voter)