- @complex.each do |c|
  - if c.kind_of?(Hash) # the complex item is a list of voters
    = render 'complex_list', :item => c
  - else
    = render 'complex_item', :ballot => c

- last_ballot = @complex.last.kind_of?(Hash) ? @complex.last.values[0].last : @complex.last

- unless @no_more
  .lmv= link_to 'more votes...', country_poll_path(@country, @poll, :last_ballot => last_ballot.id), :remote => true