- if @ballot.vote > 0
  - answer = @poll.yes.capitalize
  - cell = 'yes'
- else
  - answer = @poll.no.capitalize
  - cell = 'no'

%h2.ballot
  Your vote is
  %em= truncate(answer, :separator => ' ')
  %span#ballot_action (#{ link_to_function 'edit', 'aac.show_ballot()' })
      
#ballot= render 'polls/ballot_form', :url => ballot_path(@ballot)