- @poll ||= @commentable

#poll_comments.comments
  .detail
    .comments_holder
      = render :partial => 'comments/comment', :collection => @poll.root_comments.includes(:user, :children), :as => :comment

    .form
      - comment = @poll.comment_threads.new
      = render 'comments/form', :comment => comment

    .reply
      = render 'comments/form', :comment => comment, :reply => true