- url = @voting.new_record? ? create_country_poll_vote_path(@country, @poll) : update_vote_path(@voting)
= form_for @voting, :url => url do |f| 
  - if @poll.question_positive?
    %p.q
      =f.submit @poll.question, {:class => "positive", :name => "positive"}
      or
      =f.submit @poll.negative, {:class => "negative", :name => "negative"}
  - else
    %p.q= @poll.question
    %p.a
      =f.submit @poll.positive, {:class => "positive", :name => "positive"}
      or
      =f.submit @poll.negative, {:class => "negative", :name => "negative"}