.comments_holder
  = render :partial => 'comments/comment', :collection => @comments, :as => :comment, :locals => { :commentable => @answerable }
  = paginate @comments, :remote => true, :params => { controller: 'answerables', action: 'comments', id: @answerable.id}