
aac.enable_submit();
aac.toggle_ballot();

$("#sph .blocks").children().last().replaceWith("<%= (j render 'askables/answer_block').html_safe %>");

$("#sph .blocks .update").effect('highlight', function(){
  if ($("#answers h2").next().length) {
    if ($('#ballot_<%= @answerable.id %>').length)
      $('#ballot_<%= @answerable.id %>').remove();

    div = $("<div><%= j (render 'askables/complex_item', :ballot => @answerable) %></div>").hide()
    $("#answers h2").after(div)
    div.show('highlight', 800)
  }
});
