$("#spb .lc .ata").html("<%= j(render 'askables/edit_ballot', :answerable => @ballot) %>");

if ($("#ballots h2").next().length) {
  if ($('#ballot_<%= @ballot.id %>').length)
    $('#ballot_<%= @ballot.id %>').remove();

  div = $("<div><%= j (render 'askables/complex_item', :ballot => @ballot) %></div>").hide()
  $("#ballots h2").after(div)
  div.show('highlight', 800)
}