@import global

.comments
  .detail
    margin-top: 5px
    display: none

  .comments_holder
    max-height: 300px

    overflow-y: auto

    .comment
      +clearfix

      margin-bottom: 5px

      .avatar
        float: left

      .user
        margin: 3px 0 2px 29px

      .body
        margin: 0 0 2px 29px

      .atns
        margin-left: 29px

        a
          margin-right: 5px

      .reply
        margin: 5px 0 0 29px

      .comment
        margin: 5px 0 5px 29px


  .form
    textarea
      height: 50px
      width: 360px
      max-width: 450px

  .reply
    display: none

    textarea
      height: 18px

span.lang
  padding: 2px 3px
  color: #666
  border: 1px solid #888
  +border-radius(5px)
  +smaller

  font-weight: bold   


#spbody
  margin: 65px 0 0 0
  
  .statuses
    .status
      float: left
    
      margin: 0 10px 8px 0
      padding: 4px 8px

      +border-radius(100px)
      background: rgba(white, 0.8)
      +box-shadow(#bbb 0 1px 3px inset)
      +text-shadow(#ddd 0 1px 1px)
      
      color: #666
      +smaller
    
      &.user
        img
          +opacity(0.8)
          margin: 0 0 -1px 1px
        
        a:hover
          color: #222
          img
            +opacity(1)
    
      a
        color: #555
        font-weight: bold
        
        .lang
          margin: 0 -1px 0 0
          padding: 1px 2px
          
          color: #555
          border-color: #666

        &.link:hover
          text-decoration: none
          
          .text
            color: #222
            text-decoration: underline
          
          .lang
            color: #111
            border-color: #222

#sph
  clear: left
  
  position: relative

  padding: 28px 20px 25px 20px
  background: white
  
  +box-shadow(#ccc 2px 2px 6px)
  
  &:hover
    .actions
      .others
        visibility: visible
  
  .flag
    position: absolute
    top: -41px
    left: 50%
    width: 74px
    height: 74px
    margin-left: -37px /* Half the width */

    background: white
    border-top: 2px solid #d0d0d0
    +border-radius(100px)

    img
      +opacity(0.78)
      margin: 6px 0 0 7px
      
      &:hover
        +opacity(0.9)
  
  .blocks
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 780px

    #follow
      height: 25%
      
      .table
        height: 100%
    
    .table
      width: 100%
      
      +hoverable
      
      .cell,
      .cell a
        color: rgba(white, .9)
      
      &.follow,      
      &.share
        height: 25%

        border-bottom: 1px solid white
        background: #aaa
        +background-image(linear-gradient(left, #808080, #999 6px, #aaa))
        
        .cell
          padding-left: 18px
          
      &.follow
        .cell
          span.tick
            +larger
            font-weight: bold
            
            color: green
      
      &.share
      
        .cell
          a
            img
              +opacity(0.9)
              margin-bottom: -3px
  
      &.vote,
      &.answer
        height: 50.5%
        
        text-align: center
    
        +background-image(linear-gradient(left, #A24520, #D85E2D 6px, #ED6A34))
        
        .cell
          padding: 0 12px
        
        &.new
          +larger
          +text-shadow(#ccc 0 0 1px)
          
        &.update
          em
            +large
        
        &.yes
          +background-image(linear-gradient(left, #429859, #4FB86B 6px, #5ED57B))
        
        &.no
          +background-image(linear-gradient(left, #B92B31, #D9353D 6px, #F93F47))
    

  .poll
    position: relative
    
    max-width: 700px
    
    .question
      margin: 0
      
      line-height: 1.4em
      
      span.yes:before,
      span.no:before
        top: 17px
        margin: 0 5px 0 3px
        

    .desc
      padding: 10px 1em

      background: #fff
      border: 2px dashed #cecece

      color: #666

    .add_desc
      margin: 15px 0 0 0
      
  .actions
    margin-top: 20px
    
    max-width: 695px
    
    color: #666
    
    .others
      visibility: hidden
      
    .coverage
      img
        margin: 0 3px -1px 0
    
    span.comments
      img
        margin: 0 -1px -3px 0
        
    .translation
      .lang
        cursor: default
    
    .availables
      img
        margin: 0 -1px -2px 0
      
      a
        .lang
          padding: 1px 2px
          font-weight: normal
          
        &:hover
          text-decoration: none
        
          .lang
            border-color: #222
            color: #000
            
            +box-shadow(#ccc 1px 1px 1px)
        
    .translation:after,
    .availables:after,
    .coverage:after
      content: ''
      padding: 0 6px
    

    .translate
      float: right
      
      
#ballot
  display: none
  
  position: relative
  top: -60px
  left: -10px
  
  margin-right: 180px
  
  padding-top: 10px
  
  background: transparent url('/assets/tri_bw.png') top left no-repeat
  
  .wrapper
    max-width: 750px
    padding: 5px 150px 30px 30px
    
    border: 1px solid #d6d6d6
    background: #dfdfdf
    +box-shadow(#e0e0e0 3px 3px 6px)
  
    +clearfix
    
    .msg
      padding: 20px 0 5px 0
    
    h2
      margin-bottom: 5px
  
    .table
      margin: 0
      width: 100%
      
      font-weight: normal
      color: #444
      

      .cell
        padding: 15px 10px
        
        +large
        
        &.or
          width: 10%
          position: relative
          top: 1px
          text-align: center
          font-style: italic
          color: #f16022
      
        &.yes,
        &.no
          cursor: pointer
          width: 45%
          
          background: white
          
          label
            cursor: pointer
          
          &:hover
            color: white
          
          &.checked
            color: white
        
        &.yes
          &:hover,
          &.checked
            background: #5ED57B
            
      
        &.no
          &:hover,
          &.checked
            background: #F93F47
  
    .answer
      margin-bottom: 15px
      
      textarea
        height: 80px
        max-height: 280px
        
        max-width: 585px
        width: 585px
        
        border-color: #d0d0d0
        
        vertical-align: top
      
        &.sub
          color: #aaa
  
    .submit
      padding-right: 15px
    
      float: right
    
      a
        +small
      
        color: #888
        margin-left: 5px
    
      input
        +button
        
        &.disable
          +opacity(0.5)

    .styler
      +small
    
      padding-left: 1em
      color: #888
      line-height: 21px
    
      em,
      strong
        padding: 0 1px


#spb
  clear: left
  +clearfix
  
  margin-top: 15px
  
  .lc
    min-height: 350px
  
    .ata
      padding-bottom: 20px
      
      h2.ballot
        margin: 0
        
        line-height: 40px
        
        span
          margin-left: 5px
          font-size: 0.8em
          font-weight: normal
          
          
        #ballot_action
          &.button
            position: relative
            top: -2px
            left: 10px
          
            +button

    #answers
      h2
        margin: 0 0 8px 0
      
      .ballot
        padding: 10px
        
        .voter
          img
            margin-bottom: -5px
        
        .comment_body
          margin-top: 8px
          padding: 8px 10px
          
          +border-radius(6px)
          
        
        &.yes
          padding-right: 80px
          
          border-left: 8px solid #cef0ce
          
          .comment_body
            background: #cef0ce
        
        &.no
          padding-left: 80px
          
          border-right: 8px solid #ffdfdf
          
          .voter
            text-align: right
          
          .comment_body
            background: #ffdfdf
      
        .comments
          .actions
            padding: 2px 0 0 10px
            
            a
              margin-right: 5px
        
          .comments_holder
            max-height: 200px
            
          .form
            textarea
              width: 320px
              max-width: 320px
              
          .comment
            .reply
              textarea
                width: 240px
                max-width: 240px
                
      .lmv
        margin-top: 15px
        text-align: center
        
        a
          +grey-button
  
  .rc
    margin-top: 25px
    
    ul
      margin: 0
      padding: 0
      list-style:  none
      
      li
        margin-bottom: 5px
      
      li.follow
        margin-bottom: 10px
        
        a
          +large
          font-weight: bold
          
      li.unfollow
        margin-bottom: 10px
      
      li.share
        padding-left: 15px
      
    .polls
      h3
        margin: 25px 0 10px 0
      
      li
        margin-bottom: 10px
