@import global

.comments
  .detail
    margin-top: 5px
    display: none

  .comments_holder
    max-height: 300px

    overflow-y: auto

    .comment
      +clearfix

      margin-bottom: 5px

      .avatar
        float: left

      .user
        margin: 3px 0 2px 29px

      .body
        margin: 0 0 2px 29px

      .atns
        margin-left: 29px

        a
          margin-right: 5px

      .reply
        margin: 5px 0 0 29px

      .comment
        margin: 5px 0 5px 29px


  .form
    textarea
      height: 50px
      width: 360px
      max-width: 450px

  .reply
    display: none

    textarea
      height: 18px

span.lang
  padding: 3px 4px

  +smaller

  color: #666

  border: 1px solid #d6d6d6
  +border-radius(5px)
  +box-shadow(#ddd -1px -1px 1px inset)

  &.orig
    font-weight: bold


#spbody
  margin: 70px 0 0 0
  
  .info
    margin: 0
    padding: 0 0 5px 5px
      
    .user
      font-weight: normal
    
      img 
        margin-left: 1px

#sph
  position: relative
  
  padding: 20px
  background: rgba(black, 0.05)
  
  +border-radius(10px)
  // +border-bottom-left-radius(0)
  
  .flag
    position: absolute
    top: -34px
    right: 50px
    width: 74px
    height: 74px
    // margin-left: -35px /* Half the width */

    background: #e3e3e3
    border-top: 2px solid #ddd
    +border-radius(100px)
    
    img
      position: absolute
      z-index: 10
    
      +opacity(0.8)
      margin: 7px 0 0 7px
  
  .poll
    position: relative
    
    padding: 0 20px 20px 20px
    
    background: rgba(white, 0.7)
    +box-shadow(#ccc 1px 1px 3px)
    
    .origin
      padding: 15px 0 10px 5px

      .link
        cursor: pointer

        .text
          color: #333
          +small
          font-weight: bold

        .orig
          margin: 0 -2px 0 4px
          background: #ccc
          color: white
          +box-shadow(none)

        &:hover
          .text
            text-decoration: underline
    
    .question
      margin: 0 0 15px 0
      
      line-height: 1.4em
      
      span.yes:before,
      span.no:before
        top: 17px
        margin: 0 5px 0 3px
        
      span.lang
        position: relative
        top: -2px
        margin-right: 4px
        
        font:
          size: 0.65em
          
        border-color: #888
        +box-shadow(none)
        color: #444
        padding: 4px 5px
    
    .langs
      a
        &:hover
          span
            color: #111
            border: 1px solid #999
          text-decoration: none

  .lc
    .desc
      +small
      
      margin: 7px 0 15px 0
      padding: 10px 1em

      line-height: 1.5em

      background: #fff
      border: 2px dashed #cecece

      color: #666
    
    .add_desc
      margin: 5px 0 13px 2px
      
      color: #666

    .comments_head
      margin: 7px 0 0 0
      
      color: #666

      img
        margin: 0 5px -2px 0
        
        &.w
          margin-left: 2px
      
      span
        +inline-block
        vertical-align: bottom
      
      span.sep
        color: #ccc

    #askable_comments
      .comment
        .user,
        .atns
          +small
          

#spb
  +clearfix
  
  .lc
    max-width: 600px
    
  
    .ata
      margin: 0 0 25px 0
      padding: 25px 0 25px 35px
      
      // background: rgba(black, 0.07)
      // +border-bottom-radius(10px)
      
      h2.ballot
        margin: 0
        
        line-height: 40px
        
        span
          margin-left: 5px
          font-size: 0.8em
          font-weight: normal
          
          
        #ballot_action
          &.button
            position: relative
            top: -2px
            left: 10px
          
            +button
        
        
      #ballot
        display: none
        
        +clearfix
        
        .answers
          margin: 0 3px 25px 0

          background: #fff
          border: 1px solid #ddd
          
          +box-shadow(#bbb 0 0 3px inset)  
        
          color: #444
          
        .q,
        .table
          +larger
          font-weight: normal
          
        
        .q
          margin: 12px 1em
        
        .table
          margin: 0
          width: 100%
          
          .cell
            padding: 15px 10px
            
            &.or
              width: 10%
              position: relative
              top: 1px
              font-style: italic
              color: #f16022
            
            &.checked
              font-weight: bold
              border-top: 1px solid #e3e3e3
            
            &.yes,
            &.no
              cursor: pointer
              width: 45%
              
            &.yes
              border-left: 8px solid transparent
            
              &:hover
                border-left: 8px solid #cef0ce
            
              &.checked                
                background: #cef0ce
                border-left: none
                
                border-right: 1px solid #e3e3e3
                +box-shadow(#ddd 0 0 2px)
            
            &.no
              border-right: 8px solid transparent
              
              &:hover
                border-right: 8px solid #ffdfdf

              &.checked              
                background: #ffdfdf
                border-right: none
                
                border-left: 1px solid #e3e3e3
                +box-shadow(#ddd 0 0 2px)
        
        
        .answer
          margin-bottom: 15px
          
          h2
            margin-bottom: 3px
            
          textarea
            height: 80px
            width: 490px
                        
            vertical-align: top
            
            &.sub
              color: #aaa
        
        .submit
          padding-right: 15px
          
          float: right
          
          a
            +small
            
            color: #888
            margin-left: 5px
          
          input
            +button
    
        .styler
          +small
          
          padding-left: 1em
          color: #888
          line-height: 21px
          
          em,
          strong
            padding: 0 1px
          
          
    #answers
      h2
        margin: 0 0 8px 0
      
      .ballot
        padding: 10px
        
        .voter
          img
            margin-bottom: -5px
        
        .comment_body
          margin-top: 8px
          padding: 8px 10px
          
          +border-radius(6px)
          
        
        &.yes
          padding-right: 80px
          
          border-left: 8px solid #cef0ce
          
          .comment_body
            background: #cef0ce
        
        &.no
          padding-left: 80px
          
          border-right: 8px solid #ffdfdf
          
          .voter
            text-align: right
          
          .comment_body
            background: #ffdfdf
      
        .comments
          .actions
            padding: 2px 0 0 10px
            
            a
              margin-right: 5px
        
          .comments_holder
            max-height: 200px
            
          .form
            textarea
              width: 320px
              max-width: 320px
              
          .comment
            .reply
              textarea
                width: 240px
                max-width: 240px
                
      .lmv
        margin-top: 15px
        text-align: center
        
        a
          +grey-button
  
  .rc
    margin-top: 25px
    
    ul
      margin: 0
      padding: 0
      list-style:  none
      
      li
        margin-bottom: 5px
      
      li.follow
        margin-bottom: 10px
        
        a
          +large
          font-weight: bold
          
      li.unfollow
        margin-bottom: 10px
      
      li.share
        padding-left: 15px
      
    .polls
      h3
        margin: 25px 0 10px 0
      
      li
        margin-bottom: 10px
