$lf-size: 1.5em;
$sf-size: 0.875em;


@font-face {
  font-family: 'Museo Slab';
  src:  url('23F132_0_0.eot');
  src:  url('23F132_0_0.eot?#iefix') format('embedded-opentype'),
        url('23F132_0_0.woff') format('woff'),
        url('23F132_0_0.ttf') format('truetype');
}

 
@font-face {
  font-family: 'Museo Slab Italic';
  src:  url('23F132_1_0.eot');
  src:  url('23F132_1_0.eot?#iefix') format('embedded-opentype'),
        url('23F132_1_0.woff') format('woff'),
        url('23F132_1_0.ttf') format('truetype');
  font-style: italic;
}


@font-face {
  font-family: 'Museo Sans';
  src:  url('23F157_0_0.eot');
  src:  url('23F157_0_0.eot?#iefix') format('embedded-opentype'),
        url('23F157_0_0.woff') format('woff'),
        url('23F157_0_0.ttf') format('truetype');
}
 
  
@font-face {
  font-family: 'Museo Sans Italic';
  src:  url('23F157_1_0.eot');
  src:  url('23F157_1_0.eot?#iefix') format('embedded-opentype'),
        url('23F157_1_0.woff') format('woff'),
        url('23F157_1_0.ttf') format('truetype');
  font-style: italic;
}

@font-face {
    font-family: 'museo slab dark';
    src: url('museo_slab_900-webfont.eot');
    src: url('museo_slab_900-webfont.eot?#iefix') format('embedded-opentype'),
         url('museo_slab_900-webfont.woff') format('woff'),
         url('museo_slab_900-webfont.ttf') format('truetype'),
         url('museo_slab_900-webfont.svg#museo_slab_900regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo slab bold';
    src: url('museo_slab_700-webfont.eot');
    src: url('museo_slab_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('museo_slab_700-webfont.woff') format('woff'),
         url('museo_slab_700-webfont.ttf') format('truetype'),
         url('museo_slab_700-webfont.svg#museo_slab_700regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.clear {
  overflow: auto;
  width: 100%;
}

.lf {
  font-size: $lf-size;
}

.sf {
  font-size: $sf-size;
}

.bold {
  font-style: bold;
}

.italic {
  font-style: italic;
}

span.green {
  color: green;
}

span.red {
  color: red;
}

h1,
h2,
h3 {
  font-family: "museo slab bold", georgia;
  letter-spacing: -0.9px;
}

h3 {
  letter-spacing: -0.7px;
}


.zigzag {
  font-weight: normal;
  
  span {
    font-size: 1.4em;
    font-weight: bold;
    padding: 0 3px;
  }
}

.impact {
  font-family: impact;
  letter-spacing: 1px;
}

.table {
  position: relative;
  display: table;

  .cell {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
  }
}

/*show poll, poll_pack*/
#question {  
  #question_body {
    #legends {
      span {
        padding-right: 20px;
      }
    }
    
    .q {
      letter-spacing: 0.5px;
      line-height: 160%;
      
      font-size: 2em;
    
      margin: 0.5em 0;
  
    }
  }

  #answer {
    margin: 0;
    
    letter-spacing: 0.3px;
    line-height: 160%;
    
    font-size: 1.6em;
    
    div {
      float: left;
      
      p {
        margin: 0;
      }
      
      &.or {
        padding: 0 12px 3px 10px;
        
        span {
          font-style: italic;
          font-size: 0.7em;
          
          color: #f16022;
        }
      }
    }
  }  
}


/*show poll*/
.panel {
  margin: 0 auto;
  padding: 40px 0;
  width: 958px;
  background: #fff;
  
  border: 1px solid #ddd;
  
  position: relative;
  
  .banner {
    position: absolute;
    height: 53px;
    top: 20px;
    left: -20px;
    
    background: url("/assets/banner.png") bottom left no-repeat;
    
    div {
      height: 40px;
      padding: 0 25px;
      
      background: #333;
      
      p {
        margin: 0;
        padding-top: 11px;
        
        color: #fff;
        letter-spacing: 1.5px;
        
        font: {
          family: "museo slab bold";
          size: 15px;
        }
      }
    }
  }
}