ul.poll_list {
  padding-left: 15px;
  list-style: none;
  
  
  span.question {
    padding: 2px;
    
    
    a {
      padding-left: 3px;
    }
    
    img {
      margin-bottom: -3px;
    }
  }  
}