#actioner{
  h2 {
    margin: 0;
    padding-top: 5px;
  }
}

ul.poll_list {
  padding-left: 15px;
  list-style: none;
  
  
  span.question {
    padding: 2px;
    
    
    a {
      padding-left: 3px;
    }
    
    img {
      margin-bottom: -3px;
    }
  }  
}