@import compass
@import compass/css3
@import compass/css3/shared

@import sassy-buttons
@import omg-text

$theme-color: #f16022
$theme-bg-color: #f67037

$light-bg: #fafaf8

$default-text-shadow-color: #999
$default-text-shadow-blur: 2px
$default-text-shadow-v-offset: 1px
$default-text-shadow-h-offset: 1px

@mixin button
  line-height: 1.2em
  
  font-family: "museo slab", georgia, serif
  font-weight: normal

  +box-shadow(#bbb 0 1px 3px)
  +sassy-button-structure(4px, 14px, 0.6em 1em 0.5em 1em)
  
  &:hover
    +box-shadow(#999 0 1px 3px)


@mixin small-button
  +button
  +sassy-button-structure(5px, 12px, .55em .8em .35em .8em)

@mixin smaller-button
  +button
  +sassy-button-structure(5px, 11px, .5em .6em .3em .6em)
  +sassy-button-gradient("flat", #64aee2, #0460a1, #fff, "none")

@mixin button-orange
  +sassy-button-gradient("flat", $theme-bg-color, #EA5C1E, #fff, "none")

@mixin button-blue
  +sassy-button-gradient("flat", #286ADF, #2461D2, #fff, "none")

@mixin button-grey
  +sassy-button-gradient("flat", #ccc, #999, #fff, "none")

@mixin small
  font-size: 0.95em

@mixin smaller
  font-size: 0.85em

@mixin large
  font-size: 1.05em
  
@mixin larger
  font-size: 1.125em

@mixin helv
  font-family: "Helvetica Neue", helvetica, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif

@mixin hoverable
  +opacity(0.9)
  
  &:hover
    +opacity(1)


@mixin multiline-ellipsis($height, $lineheight, $ellipsiswidth) 
  $ellipsiswidth: 3em !default

  .ellipsis
    overflow: hidden
    height: $height
    line-height: $lineheight
    width: 100%

  .ellipsis:before
    content: ""
    float: left
    width: 5px
    height: $height

  .ellipsis > *:first-child
    float: right
    width: 100%
    margin-left: -5px	

  .ellips:after
    float: right
    position: relative
    float: right
    position: relative
    top: -30px
    left: 100%
    width: 100%
    margin-left: -100%
    padding: 30px 5px 0 0
    
    content: ""
    +background-image(linear-gradient(top, rgba(white, 0), #fafafa 25px, #fafafa))
    
    // top: -50px
    // left: 100%
    // width: 100%
    // margin-left: -100%
    // padding: 31px 5px 2px 0
    // 
    // color: #999
    // 
    // font:
    //   size: 11px
    //   style: italic
    //   
    // text-align: right
    // +background-image(linear-gradient(top, rgba(white, 0), #fafafa 32px, #fafafa))