table#home {
  width: 400px;
  margin: 0;
  text-align: left;
  
  th {
    padding: 10px 8px;
    font: {
      font-size: 0.8em;
      weight: normal;
    }
    
    &.center {
      text-align: center;
    }
  }
  
  td {
    padding: 9px 8px 0 8px;
    
    a,
    a:link,
    a:hover,
    a:active,
    a:visited {
      color: #000;
      text-decoration: none;
    }
    
    &.rank {
      text-align: center;
    }
    
    &.rating {
      text-align: center;
      font-weight: bold;
    }
  }
}