.actioner {
  .home {
    height: 120px;
  
    h1 {
      font-size: 3.6em;
    }
  }
}

#bottom {
  position: absolute;
  width: 100%;
  
  
  .actioner {
    #and {
      height: 75px;
    }
  }
}





.title {
  padding-top: 4px;
  background: url("/assets/2bits.png") center left repeat-x; 
}

#find-country {
  position: relative;
  top: 60px;
  
  float: right;
  width: 340px;
  height: 300px;
  
  .title {
    text-align: center;
  }
}

#features { 
  position: relative;
  top: 60px;
  width: 600px;
  
  
  #countries {
    padding-top: 20px;
    
    .country {
      height: 200px;
      
      h2 {
        margin: 0;
        color: #f16022;
      }
      
      ul {
        list-style-type: none;
        padding: 0;
        
        li {
          padding: 5px 0;
        }
      }
    }
  }
}