.actioner {
  .home {
    height: 120px;
  
    h1 {
      font-size: 3.125em;
    }
  }
  
  .arrow {
    position: absolute;
    top: 47px;
    left: 885px;
    
    background: #f16022;;
    
    img {
      opacity: 0.4
    }
  }
}

#bottom {
  position: absolute;
  width: 100%;
  
  .actioner {
    #and {
      height: 75px;
    }
  }
}


#ask {
  background: #fff;
  
  width: 60%;
  
  border: 1px solid #ddd;
  
  padding: 10px 20px;
}