@import global

#hh1
  
  padding: 150px 0 60px 0
  
  h1
    margin: 0

    font-size: 5em
    color: #fff8f5
    
    span
      font:
        family: "museo slab bold", sans-serif
        size: 24px

#hcs
  padding-bottom: 60px
  
  .flags
    +clearfix

    margin-top: 20px
    padding: 5px 20px 25px 20px
    
    background: rgba(0, 0, 0, 0.16)
      
    .c
      float: left
      padding: 0 13px
      margin: 15px 5px -5px 5px
      
      position: relative
      
    
      img
        width: 64px
        height: 64px
        
        margin-top: 3px
        +opacity(0.8)
        
        &:hover
          +opacity(1)
      
      &.na
        img
          +opacity(0.5)
          
          &:hover
            +opacity(0.8)
        
      
      &.active
        background: rgba(255, 255, 255, 0.86)
        +border-top-radius(12px)
        +border-bottom-radius(0)
        
        img
          +opacity(1)
          
          &:hover
            +opacity(1)
    
    .content
      display: none
      
      
    .detail
      float: left
      
      width: 464px
      
      margin: 5px 0 0 5px
      padding: 0 13px      
      
      text-align: center
      
      &.color
        background: rgba(255, 255, 255, 0.86)
        
      
      h2
        margin-bottom: 5px
        
      .info
        font: normal 0.9em "museo slab italic"
        margin-bottom: 16px
      
      .stats
        
        
      .enter
        padding: 1.4em 0
        
        a
          +small-button
          +button-orange
          
      
  .side
    float: right
    width: 420px
    
    .or
      float: left
      line-height: 264px
      
      margin: 0 43px 0 45px
      color: #fff
      
      font:
        family: "museo slab italic"
        size: 1.4em


    .search
      input
        margin-top: 107px      
        padding: 14px 50px 13px 20px
        color: #777
        
        border: none
        outline: none
        
        background: rgba(white, .5) right center url('/assets/arrow_down.png') no-repeat
        
        +hoverable
        +border-radius(25px)
        +box-shadow(rgba(black, .2) 1px 1px 3px inset)
        
        &:focus
          background-image: none
          +border-bottom-radius(0)
        

          
  
#h2head
  padding: 50px 0
  text-align: center
  
  h1
    margin: 0
    padding: 0 0 60px 0
    color: #f16022
    
    font-size: 2.6em
    
    span
      color: #999
      font-size: 18px
      font-family: "museo slab bold", sans-serif

  .poll
    +inline-block
    
    min-width: 200px
    max-width: 560px
    
    padding: 20px 22px
    position: relative
    
    text-align: left
    
    background: #fafafa
    border: 1px solid #ddd
    +border-radius(20px)
    
    a:hover
      text-decoration: none
    
    .q
      color: #666
      margin: 30px 0 25px 5px
      font-size: 1.7em
    
    .table
      position: relative
      
      +border-bottom-radius(15px)
      
      width: 100%
      
      .yes,
      .no
        padding: 20px 10px
        
        color: #fff
        
        font-size: 1.15em
        
        +hoverable

        em
          font:
            family: georgia
            style: italic
      
        
      .yes
        background: #0aba8a
        +box-shadow(#ccc -1px 1px 3px)
        +border-bottom-left-radius(10px)
        
        &:hover
          +box-shadow(#aaa -1px 1px 5px)
      
      .no
        background: #e50b0b
        +box-shadow(#ccc 1px 1px 3px)
        +border-bottom-right-radius(10px)
        
        &:hover
          +box-shadow(#aaa 1px 1px 5px)
        
      .or          
        height: 100%
        width: 2px

    .flag
      img
        +opacity(0.8)
        
        margin: 3px 0 0 5px
      
      position: absolute
      top: -26px
      left: 50%
      width: 60px
      height: 56px
      margin-left: -29px /* Half the width */
      
      background: #fafafa
      border-top: 2px solid #ddd
      +border-radius(100px)
      
      .shuffle
        position: absolute
        top: 50%
        left: 90px
        width: 33px
        height: 29px
        margin-top: -18px /* Half the height */
        
        background: #fafafa
        border-top: 2px solid #ddd
        +border-radius(100px)
        
        img
          margin-left: 4px
          
          &:hover
            +opacity(1)
      
    &:hover
      border-color: #ccc
      +box-shadow(#ddd 1px 1px 1px)
      
      .q
        color: #333
      
      .flag
        border-color: #ccc
        
        .c
          img
            +opacity(0.9)
      
      .shuffle
        border-color: #ccc



#login
  .holder
    .form
      .forgot 
        margin: -5px 5px 5px 0
        font-size: 0.875em
        text-align: right

        a 
          color: #999

      .remember 
        float: left
        color: #444
        font-size: 0.875em


#signup
  .holder
    .form
      width: 500px
      
      .wrapper
      
        .wrapper // last name only
          position: absolute
          top: 0
          left: 255px
          
          .placeholder
            color: #ddd
      
        
      .submit
        padding-right: 248px
      

#forgot,
#reset,
#confirm
  padding: 42px 0 0 60px

  h1
    left: 0
    
    font-size: 1.4em
    line-height: 42px
    
    width: auto
    padding: 0 20px
    
  .holder
    margin: 0 210px 0 0
    
    .email
      +clearfix
      margin: 0
      background: rgba(black, 0.1)
      
#forgot
  
  .holder
    .form
      width: 500px
  
    .wrapper,
    .submit
      float: left
      
    .submit
      margin: 0 0 0 16px

#reset
  .holder
    
    h2
      margin: 0 0 0 20px
      padding: 0
      
    .form
      margin: 0


#confirm
  .holder
    .form
      width: 500px


#ali 
  margin: 50px 0
  
  color: #888
  
  h2 
    margin: 0

    background: url('/assets/2bits.png') top left repeat-x
    padding: 1em 0 0 0
