@import global

h1,
h2
  font: 
    family: "Helvetica Neue", helvetica, arial, sans-serif

h4 
  font: 
    family: "museo slab", georgia, sans-serif
    weight: normal

textarea
  padding: 5px 10px 10px 10px
  
  background: #fff
  
  border: 1px solid #ddd
  +box-shadow(#bbb 0 0 3px inset) 
  
  color: #555
  font-family: verdana
  font-size: 0.9em
  

a,
a:link,
a:active,
a:visited 
  color: #0271bf
  text-decoration: none

a:hover 
  text-decoration: underline
  
  
.table 
  position: relative
  display: table

  .cell 
    display: table-cell 
    vertical-align: middle 
    text-align: center

.slab 
  font: 
    family: "museo slab", georgia, serif
    weight: normal

.slab_bold 
  font: 
    family: "museo slab bold", georgia, serif
    weight: normal

.live
  background: #f5f5a7


body 
  line-height: 1.625em
  font: 100% verdana, arial, sans-serif
  
  background: #fafaf8 url("/assets/bg1.png") repeat
  
  color: #333

.inner 
  max-width: 960px
  margin: 0 auto

#page_header 
  font-size: 0.8125em
  
  position: fixed
  top: 0
  
  z-index: 100
  
  background: #f5743d url("/assets/bg.png")
  
  width: 100%
  
  +box-shadow(rgba(0, 0, 0, .4) 0 1px 3px)


  .inner 
    position: relative
    
    nav#utility
      margin-right: 10px
            
      text-align: right
      line-height: 40px

      a,
      a:link,
      a:active,
      a:visited 
        color: #eee
      
      span 
        color: #f16022
        font:
          style: italic
          size: 0.875em
        
        padding: 0 3px
      

    #logo 
      position: absolute
      top: 9px
      left: 5px
      +opacity(0.9)
      
      &:hover
        +opaque
        text-decoration: none

.actioner
  position: fixed
  top: 8px
  
  height: 40px
  width: 100%
  
  z-index: 99

  font-size: 0.875em
  
  background: rgba(246, 112, 55, .96)
  
  +box-shadow(#666 0 2px 6px -2px)
  
  .inner
    display: none
  
  &.homer
    position: relative
    top: 0
    
    height: auto
    
    
    .inner
      display: block

  &.expand  
    .inner
      display: block
    
      height: 40px
      position: relative
    

.contenter 
  font-size: 0.875em
  
  margin-top: 61px
  
  .inner
    width: 920px
    min-height: 440px
    
    padding: 20px
    
    +box-shadow(#ddd 2px 2px 6px)

    background: #fff
  
  &.homer
    margin: 0
    
    .inner
      +box-shadow(none)
      background: none
  
  &.wider
    .inner
      width: 960px
      min-height: 480px
      
      padding: 0
      
      +box-shadow(none)
      background: none


footer#page_footer
  .inner
    ul 
      margin: 15px 0 15px 20px
      padding: 0
      
      +small-text
      
      li 
        display: inline
        margin-right: 10px
      
        a 
          color: #999
        
        &.site
          color: #aaa
          font:
            family: "museo slab", georgia, sans-serif
            weight: normal



#notice 
  position: fixed
  top: 60px
  left: 0
  width: 100%
  
  +opacity(0.9)
  
  text-align: center
  
  z-index: 99

  span
    padding: 5px 10px 7px 30px
  
    line-height: 20px
  
    +border-radius(10px)
  
    background: 
      position: 8px 6px 
      repeat: no-repeat
     
    &.notice 
      color: #666
    
      background:  
        color: #f2f27c
        image: image-url("check.png") 
      
    &.alert 
      color: #fff
    
      background:  
        color: #d24848 
        image: image-url("cross.png")


.box 
  padding: 20px

  +box-shadow(#ddd 2px 2px 6px)
  

  // border: 1px solid #ddd
  background: #fff



.lc
  max-width: 560px

.rc
  float: right
  width: 300px





/*show poll*/
.panel 
  margin: 0 auto
  padding: 40px 0
  width: 958px
  background: #fff
  
  border: 1px solid #ddd
  
  position: relative
  
  .banner 
    position: absolute
    height: 53px
    top: 20px
    left: -20px
    
    background: url("/assets/banner.png") bottom left no-repeat
    
    div 
      height: 40px
      padding: 0 25px
      
      background: #333
      
      p 
        margin: 0
        padding-top: 11px
        
        color: #fff
        letter-spacing: 1.5px
        
        font: 
          size: 16px
          weight: bold

// markdown tags
.markdown
  p
    margin-top: 0

.home 
  margin: 50px 0 0 0
  
  h1 
    color: #f16022
    background: url('/assets/2bits.png') bottom left repeat-x
    padding: 10px 0
  
  .form 
    padding-top: 20px
  
  label 
    color: #555
    line-height: 48px
    padding-right: 3px
    font-size: 1.125em
  
  .wrapper 
    overflow: hidden
    
    text-align: right
    margin-bottom: 15px
    
    .stroke 
      float: right
      padding: 5px
      background: #dedede
      
      +border-radius(7px)
      +opacity(0.7)
      
      input 
        height: 36px
        width: 270px
        
        padding: 0 10px
        
        color: #000
        font-size: 1.125em
        
        +border-radius(5px)
        +box-shadow(#ddd 2px 2px 3px inset)
        
        border: 1px solid #bbb
        background: #fefefa
        
        
        &:focus 
          background: #fff
          outline: none
            
      
      .validation-error input,
      input.error
        background: #ffdfdf
        
        -moz-box-shadow: none
        -webkit-box-shadow: none
        box-shadow: none
    
    
    .submit 
      margin: 10px 5px 0 0

      &:focus 
        outline: none

/* search  */
.ui-autocomplete
  margin: 0
  max-height: 280px
  overflow-y: auto
  /* prevent horizontal scrollbar */
  
  width: 150px
  overflow-x: hidden
  
  background: #fafaf8
  
  border-color: #ccc
  +border-radius(0)
  
  padding: 5px 5px 25px 5px
  
  li.hint
    padding: 5px 0
    color: #888
    font-family: "museo slab italic", georgia
    +small-text
  
  li.ui-autocomplete-category 
    color: #444
    font-family: "museo slab bold", georgia, serif
    font-size: 1.1em
    padding: 10px 0 0 0
  

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete 
  height: 280px


.ui-menu .ui-menu-item 
  a
    color: #444
    
    span 
      color: #f16022
      font-style: bold


/*other widgets */
.ui-tooltip 
  background: #fff
  border-color: #bbb
  max-width: 320px


.ui-widget-content 
  color: #888
  font-family: verdana
  font-size: 0.875em
