body {
  line-height:1.125em;
  font: 100% verdana, arial, sans-serif;
  background: url('/assets/bg.png');
  color: #444; 
}

a,
a:link,
a:active {
  color: #15c;
  text-decoration: none;
}

a:visited {
  color: #6d459c;
}

a:hover {
  text-decoration: underline;
}


#page_header .inner,
#slider,
.actioner .action,
#page_footer {
  width: 960px;
  margin: 0 auto;
  
  color: #fff;
  
  a,
  a:link,
  a:active,
  a:visited {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    color: #fff;
    text-decoration: underline;
  }
}

#page_header {
  font-size: 0.75em;
  
  position: relative;
  
  box-shadow: 0 2px 5px -2px #444;
  -webkit-box-shadow: 0 2px 5px -2px #444;
  -moz-box-shadow: 0 2px 5px -2px #444;

  .inner {
    height: 40px;
    position: relative;
    display: table;
    
    nav#utility {
      display: table-cell; 
      vertical-align: middle;
      text-align: right;
      
      span {
        color: #f16022;
      }
    }
  
    #logo {
      position: absolute;
      top: 11px;
      left: 0;
      
      &.vague {
        opacity: 0.2;
      }
    }
  }
}

.actioner {
  font-size: 0.875em;

  background: #f16022;
  
  .action {      
    height: 60px;

    position: relative;
    display: table;

    h1 {
      margin: 0;
      
      display: table-cell; 
      vertical-align: middle;
    }
  }
}


.contenter {
  font-size: 0.8125em;
  
  background : #f5f5f0;
  padding: 0;
  
  .inner {
    width: 960px;
    min-height: 600px;
    
    margin: 0 auto;
    padding: 20px 0;
  }
}

footer#page_footer {
  font-size: 0.75em;
  
  height: 80px;
  padding: 0 0 0 10px;
  
  ul {
    margin-left: -10px;
    padding: 10px 0 0 0;
    
    li {
      border-right: 1px solid #fef8e7;
      display: inline;
      margin: 0;
      
      &:last-child {
        border-right: none;
      }
  
      a {
        padding: 5px 10px;
        
        &:link,
        &:hover,
        &:visited,
        &.active {
          color: #fff;
        }
      }
    }
  }
}

.notification { 
  background:{ 
    position: 10px 11px; 
    repeat: no-repeat; 
  }   
  
  color: #fff;
  font-weight: bold; 

  margin: 0; 
  padding: 0.75em 0.75em 0.75em 35px; 
  
  &.notice {
    background: { 
      color: #006302; 
      image: image-url("check.png"); 
    } 
  } 
  
  &.alert { 
    background: { 
      color: #920202; 
      image: image-url("cross.png"); 
    } 
  } 
}

