
$theme-color: #f16022

@font-face
  font-family: "museo"
  src: url('museo300-regular-webfont.eot')
  src: url('museo300-regular-webfont.eot?#iefix') format('embedded-opentype')
  src: url('museo300-regular-webfont.woff') format('woff')
  src: url('museo300-regular-webfont.ttf') format('truetype')
  src: url('museo300-regular-webfont.svg#museo_300regular') format('svg')
  font-weight: normal
  font-style: normal

@font-face 
  font-family: "museo bold"
  src: url('museo500-regular-webfont.eot')
  src: url('museo500-regular-webfont.eot?#iefix') format('embedded-opentype')
  src: url('museo500-regular-webfont.woff') format('woff')
  src: url('museo500-regular-webfont.ttf') format('truetype')
  src: url('museo500-regular-webfont.svg#museo_500regular') format('svg')
  font-weight: normal
  font-style: normal

@font-face 
  font-family: "museo bolder"
  src: url('museo700-regular-webfont.eot')
  src: url('museo700-regular-webfont.eot?#iefix') format('embedded-opentype')
  src: url('museo700-regular-webfont.woff') format('woff')
  src: url('museo700-regular-webfont.ttf') format('truetype')
  src: url('museo700-regular-webfont.svg#museo_700regular') format('svg')
  font-weight: normal
  font-style: normal


@font-face 
  font-family: 'museo sans'
  src: url('23F157_0_0.eot')
  src: url('23F157_0_0.eot?#iefix') format('embedded-opentype')
  src: url('23F157_0_0.woff') format('woff')
  src: url('23F157_0_0.ttf') format('truetype')

@font-face 
  font-family: 'museo sans italic'
  src: url('23F157_1_0.eot')
  src: url('23F157_1_0.eot?#iefix') format('embedded-opentype')
  src: url('23F157_1_0.woff') format('woff')
  src: url('23F157_1_0.ttf') format('truetype')
  font-style: italic


@font-face 
  font-family: 'museo slab'
  src: url('23F132_0_0.eot')
  src: url('23F132_0_0.eot?#iefix') format('embedded-opentype')
  src: url('23F132_0_0.woff') format('woff')
  src: url('23F132_0_0.ttf') format('truetype')



@font-face 
  font-family: 'museo slab italic'
  src: url('23F132_1_0.eot')
  src: url('23F132_1_0.eot?#iefix') format('embedded-opentype')
  src: url('23F132_1_0.woff') format('woff')
  src: url('23F132_1_0.ttf') format('truetype')
  font-style: normal

@font-face 
  font-family: 'museo slab bold'
  src: url('museo_slab_700-webfont.eot')
  src: url('museo_slab_700-webfont.eot?#iefix') format('embedded-opentype')
  src: url('museo_slab_700-webfont.woff') format('woff')
  src: url('museo_slab_700-webfont.ttf') format('truetype')
  src: url('museo_slab_700-webfont.svg#museo_slab_700regular') format('svg')
  font-weight: normal
  font-style: normal

@font-face 
  font-family: 'museo slab bolder'
  src: url('museo_slab_900-webfont.eot')
  src: url('museo_slab_900-webfont.eot?#iefix') format('embedded-opentype')
  src: url('museo_slab_900-webfont.woff') format('woff')
  src: url('museo_slab_900-webfont.ttf') format('truetype')
  src: url('museo_slab_900-webfont.svg#museo_slab_900regular') format('svg')
  font-weight: normal
  font-style: normal



h1,
h2
  font: 
    family: "Helvetica Neue", helvetica, arial, sans-serif


h3 
  font: 
    family: "museo slab", georgia, sans-serif
    weight: normal

textarea
  padding: 2px 5px 0 5px


a,
a:link,
a:active,
a:visited 
  color: #0271bf
  text-decoration: none

a:hover 
  text-decoration: underline
  
  
.table 
  position: relative
  display: table

  .cell 
    display: table-cell 
    vertical-align: middle 
    text-align: center

.slab 
  font: 
    family: "museo slab", georgia, serif
    weight: normal

.slab_bold 
  font: 
    family: "museo slab bold", georgia, serif
    weight: normal

@mixin button
  line-height: 1.2em
  
  font-family: "museo slab", georgia, serif
  font-weight: normal

  +sassy-button-structure(5px, 16px, 0.7em 1.2em 0.4em 1.2em)
  +sassy-button-gradient("simple", #f67f4b, #ca4d17, #fff, "raised")


@mixin grey-button
  line-height: 1.2em

  font-family: "museo slab", georgia, serif
  font-weight: normal

  +sassy-button-structure(5px, 14px, 0.5em 1em 0.4em 1em)
  +sassy-button-gradient("simple", #ccc, #999, #fff, "raised")


@mixin small-text
  font-size: 0.9em



body 
  line-height: 1.625em
  font: 100% verdana, sans-serif
  
  background: #fefefa url("/assets/bg1.png") top left repeat
  color: #333


#page_header .inner,
#page_footer .inner 
  width: 960px
  margin: 0 auto
  padding: 0


#page_header 
  font-size: 0.8125em
  
  position: fixed
  top: 0
  
  z-index: 100
  
  background: url('/assets/bg.png')
  
  width: 100%
  
  +box-shadow(#444 0 2px 5px -2px) 


  .inner 
    height: 40px
    position: relative
    display: table
    
    nav#utility 
      width: 100%
      display: table-cell 
      vertical-align: middle
      text-align: right
      
      color: #eee

      a,
      a:link,
      a:active,
      a:visited 
        color: #eee
      
      span 
        color: #f16022
        font:
          style: italic
          size: 0.875em
        
        padding: 0 3px
      

    #logo 
      position: absolute
      top: 9px
      left: 3px
      +opacity(0.9)
      
      &:hover 
        +opaque
      


.contenter 
  font-size: 0.875em
  
  padding: 0

  .wrapper     
    .inner 
      width: 960px
    
      margin: 0 auto
      padding: 40px 0 0 0
    
      .light a 
        color: #888



footer#page_footer   
  font-size: 0.8125em
  
  .inner 
    padding: 10px 0
    ul 
      margin: 0 0 7px -10px
      padding: 6px 0 0 0
    
      li 
        border-right: 1px solid #fef8e7
        display: inline
        margin: 0
      
        &:last-child 
          border-right: none
        
  
        a 
          padding: 0 10px



#notification 
  position: fixed
  top: 60px
  left: 0
  width: 100%
  
  +opacity(0.9)
  
  text-align: center
  
  z-index: 99

  .msg 
    padding: 5px 10px 7px 30px
  
    line-height: 20px
  
    +border-radius(10px)
  
    background: 
      position: 8px 6px 
      repeat: no-repeat
     
    &#notice 
      color: #666
    
      background:  
        color: #f2f27c
        image: image-url("check.png") 
      
    &#alert 
      color: #fff
    
      background:  
        color: #d24848 
        image: image-url("cross.png")


.hlocs
  a
    margin: 0
    
    
    
  a:hover 
    span 
      text-decoration: underline

  .c 
    float: left
    text-align: center
    width: 90px
    height: 100px
    
    margin-right: 5px
    
    img
      margin-bottom: -10px



.box 
  padding: 20px

  +border-radius(10px)
  +box-shadow(#ddd 1px 1px 2px 1px) 

  border: 1px solid #ddd
  background: #fff

.poll  
  span.answer 
    padding: 0
    
    +inline-block
    +border-radius(15px)
    
    &.yes 
      background: #cef0ce

    &.no 
      background: #ffdfdf


.lc
  margin-right: 310px

.rc
  float: right
  width: 250px

ul.poll_list 
  margin: 0
  padding-left: 0
  list-style: none
  
  li
    margin-bottom: 15px
    
    &:last-child
      margin: 0
    
    
    .question 
      padding: 0
    
      a
        font-weight: bold
    
    .info 
      margin-left: 1px
      padding: 5px 0
      
      +small-text
      
      a
        margin-right: 3px

      span
        margin-left: 8px

      img 
        margin: 0 0 -1px 1px



/*show poll, poll_pack*/
#question   
  #question_body 
    #legends 
      span 
        padding-right: 20px
    
    
    .q 
      line-height: 160%
      
      font-family: "museo slab bold", georgia, serif
      font-size: 2.1em
      letter-spacing: 1px
    
      margin: 0.5em 0
  
    
  

  #answer 
    margin: 0
    
    letter-spacing: 0.3px
    line-height: 160%
    
    font-size: 1.5em
    
    div 
      float: left
      
      p 
        margin: 0
      
      
      &.or 
        padding: 0 12px 3px 10px
        
        span 
          font-style: italic
          font-size: 0.7em
          
          color: #f16022
        


/*show poll*/
.panel 
  margin: 0 auto
  padding: 40px 0
  width: 958px
  background: #fff
  
  border: 1px solid #ddd
  
  position: relative
  
  .banner 
    position: absolute
    height: 53px
    top: 20px
    left: -20px
    
    background: url("/assets/banner.png") bottom left no-repeat
    
    div 
      height: 40px
      padding: 0 25px
      
      background: #333
      
      p 
        margin: 0
        padding-top: 11px
        
        color: #fff
        letter-spacing: 1.5px
        
        font: 
          size: 16px
          weight: bold
        


.home 
  margin: 50px 0 0 0
  
  h1 
    color: #f16022
    background: url('/assets/2bits.png') bottom left repeat-x
    padding: 10px 0
  
  .form 
    padding-top: 20px
  
  label 
    color: #555
    line-height: 48px
    padding-right: 3px
    font-size: 1.125em
  
  .wrapper 
    overflow: hidden
    
    text-align: right
    margin-bottom: 15px
    
    .stroke 
      float: right
      padding: 5px
      background: #dedede
      
      +border-radius(7px)
      +opacity(0.7)
      
      input 
        height: 36px
        width: 270px
        
        padding: 0 10px
        
        color: #000
        font-size: 1.125em
        
        +border-radius(5px)
        +box-shadow(#ddd 2px 2px 3px inset)
        
        border: 1px solid #bbb
        background: #fefefa
        
        
        &:focus 
          background: #fff
          outline: none
            
      
      .validation-error input,
      input.error
        background: #ffdfdf
        
        -moz-box-shadow: none
        -webkit-box-shadow: none
        box-shadow: none
    
    
    .submit 
      margin: 10px 5px 0 0

      &:focus 
        outline: none
