body {
  line-height:1.125em;
  font: 100% verdana, arial, sans-serif;
  background: url('/assets/bg.png');
}

#page_header,
#slider,
#actioner,
#page_footer {
  width: 960px;
  margin: 0 auto;
  
  color: #fff;
  
  a,
  a:link,
  a:hover,
  a:active,
  a:visited {
    color:#fff;
    text-decoration: none;
  }
}

header#page_header {
/*  height: 125px;*/
  height: 80px;
  
  position: relative;


  nav#utility {
    float: right;
    font-size: 0.875em;
  }

  #logo {
    position: absolute;
    top: 27px;
    left: 0;
  }
}

#slider {
/*  background: transparent url('/assets/2bits.png') middle left repeat-x;*/
}

#actioner {
  padding: 0;
  margin-bottom: -25px;
  
  #action {
    background: url('/assets/atn_bg.png') top left repeat-x;
    height: 80px;
    margin: 0;
    padding: 0;

    .table {
      color: #fff;
      margin: 0;
      width: 100%;
      height: 80px;
      
      font-weight: lighter;
      letter-spacing: 1px;

      font-size: 1.3em;
      font-family: 'tahoma', 'sans-serif';
      
      display: table;
      
      .cell {
        height: 37px;
        display: table-cell; 
        vertical-align: middle; 
        
        &#text {
          text-align: center;
        }
        
        &#button {
          padding: 5px 10px 0 0;
        }
      }
    }
  }
  
  #tri {
    position: relative;
    left: 45px;
    height: 25px;
    background: url('/assets/tri.png') top left no-repeat;
  }
}

div.container{
/*  background : #f8f8f8 url('/assets/1bit.png') top center repeat-y;*/
  background : #f8f8f8;
  padding: 0;
  font-size: 0.875em; 
  
  #contenter {
    width: 960px;
    min-height: 480px;
/*    background: #fff;*/
    color: #222222; 
    margin: 0 auto;
    padding: 10px 0;
  }
}

footer#page_footer {
  font-size: 0.75em;
  height: 80px;
  padding: 0 0 0 10px;
  
  ul {
    margin-left: -10px;
    padding: 10px 0 0 0;
    
    li {
      border-right: 1px solid #fef8e7;
      display: inline;
      margin: 0;
      
      &:last-child {
        border-right: none;
      }
  
      a {
        padding: 5px 10px;
        
        &:link,
        &:hover,
        &:visited,
        &.active {
          color: #fff;
        }
      }
    }
  }
}

.notification { 
  background:{ 
    position: 10px 11px; 
    repeat: no-repeat; 
  }   
  
  color: #fff;
  font-weight: bold; 

  margin: 0; 
  padding: 0.75em 0.75em 0.75em 35px; 
  
  &.notice {
    background: { 
      color: #006302; 
      image: image-url("check.png"); 
    } 
  } 
  
  &.alert { 
    background: { 
      color: #920202; 
      image: image-url("cross.png"); 
    } 
  } 
}

