body {
  background: url('/assets/bg.png');
}

#page_header,
#slider,
#actioner,
#footer {
  overflow: hidden;
  width: 980px;
  margin: 0 auto;
  
  color: #fff;
  font-size: 0.9em;
  
  a,
  a:link,
  a:hover,
  a:active,
  a:visited {
    color:#fff;
    text-decoration: none;
  }
}

header#page_header {
  height: 80px;
  overflow: hidden;
  
  nav#utility {
    float: right;
    font-size: 0.8em;
  }

  #logo {
    position: absolute;
    top: 30px;
    text-shadow: 2px 2px 2px #aaa;
    
    font: {
      size: 1.5em;
      weight: bold;
      style: italic;
    }
  }
}

#slider {
  background: url('/assets/2bits.png') top left repeat-x;
  height: 160px;
  
  h1, h2 {
    font-size: 1.5em;
    margin: 0;
   } 
}

#actioner {
  overflow: hidden;
  padding: 0;
  margin-bottom: -25px;
  
  h3 {
    background: url('/assets/atn_bg.png') top left repeat-x;
    height: 80px;
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
  }
  
  #img {
    position: relative;
    left: 25px;
    height: 25px;
    background: url('/assets/tri.png') top left no-repeat;
  }
  
  img {
    position: relative;
    left: 25px;
  }
}

div.container{
  background : #f8f8f8 url('/assets/1bit.png') top center repeat-y;
  padding: 0;
  font-size: 12px; 
  
  #contenter {
    width: 980px;
    background: #fff;
    margin: 0 auto;
    padding: 0;
    
    .wrapper {
      padding: 20px 25px;
    }
  }
}


