.ui-widget-overlay {
  opacity: 0.9;
  background: #555;
}

.ui-dialog {
  
  #close {
    position: absolute;
    top: 3px;
    right: 7px;
    
    font-size: 13px;
    
    color: #ccc;
    
    &:hover {
      cursor: pointer;
    }
  }
  
  #poll_pack {
    margin: 5px 15px;
    overflow: hidden;
    
    #q_holder {
      position: relative;
      
      .vote {
        position: absolute;
      }
    }
    
    #loading {
      position: relative;
      left: 260px;
      top: 250px;
      width: 300px;
      text-align: center;
    }
    
    #counter {
      text-align: right;
      margin-right: -10px;
      
      span {
        color: #f16022;
      }
    }
    
    #bar {
      position: relative;
      top: 25px;
      left: 385px;
      width: 60px;
      height: 20px;
      
      .ui-progressbar-value {
      }
    }
    
    #question {
      &.clear {
        overflow: hidden;
      }
      
      #question_body {
        height: 270px;
        
        .table {
          height: 270px;
          
          .cell {
            text-align: left;
            
            .q {
              letter-spacing: 0.4px;
              line-height: 140%;

              font-size: 2em;
            }
          }
        }
      }


      #answer {
        top: 0px;
        left: 85px;
        
        height: 180px;
        width: 800px;
        letter-spacing: 0.2px;
        
        background: url('/assets/or.png') 315px 2px no-repeat;

        font-size: 1.4em;
        
        .yes,
        .no {                                    
          background: #f8f8f8;
          
          cursor: pointer;
          
          p {
            width: 300px;
            height: 180px;
          }
          
          &.positive p {
            background: url('/assets/plus.png') top left no-repeat;
          }

          &.negative p {
            background: url('/assets/minus.png') top right no-repeat;
          }
        }

        .yes {
        }
        
        .or {
          display: none;
        }
        
        .no {
          margin-left: 40px;
        }
        
        .green {
          background: #d0ffd0;
        }
        
        .red {
          background: #ffdfdf;
        }
      }
    }
  }
  
  .ui-dialog-titlebar {
    display: none;
  }
}
