
#q_panel {
  #question {    
    #question_body {
      padding-left: 30px;
      
      .cell {
        width: 898px;
      }
        
      #legends {
        text-align: right;
        padding-right: 0;
      }
      
      .q {
        margin: 0.8em 0;
        text-align: left;
      }
    }

    #answer {
      padding-left: 30px;
      
      .yes p,
      .no p {
        width: 420px;
      }
      
      .yes p {
        text-align: right;
      }
      
      .or {
        padding: 0 15px;
      }
      
      .no p {
        text-align: left;
      }
    }  
  }
}

#info {
  padding: 20px 1px;
  
  .avatar {
    float: left;
  }
  
  #result {
    float: right;
  }

}

#d_panel {
  margin-top: 300px;
  height: 500px;
}

