%h2= t('home.login.one_click')
.links
  %p= link_to image_tag('/assets/facebook_login.png'), '/auth/facebook', class: 'auth', :'data-width' => 660, :'data-height' => 420
  %p= link_to image_tag('/assets/twitter_login.png'), '/auth/twitter', class: 'auth', :'data-width' => 900, :'data-height' => 700
